body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-transform: uppercase;
    font-weight: bolder;
}

div {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 4px solid black;
}

span {
    display: flex;
    height: 400px;
    align-items: center;
    padding: 10px;
}

div.container {
    display: flex;
    justify-content: left;
    height: 500px;
}

div.header {
    background-color: rgb(223, 46, 15);
    height: 45px;
    padding: 8px;
}

div.left {
    background-color: rgb(240, 217, 66);
    flex-basis: 20%;
}

div.center {
    background-color: rgb(2, 165, 202);
    flex-basis: 60%;
}

div.right {
    background-color: rgb(12, 164, 119);
    flex-basis: 20%;
}

div.footer {
    background-color: rgb(90, 22, 109);
    height: 45px;
    padding: 8px;
}
