body {
    background-color:cornsilk;
    color: black;
    margin: auto;
    padding: 25px;
    width: 80%;
}

h1 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    text-transform: uppercase;
    padding: 30px;
}

div {
    
    margin: 20px;
    width: fit-content;
    height: 800px;
}

img {
    display: inline-block;
    position: relative;

    transition: ease-in-out;
    animation: margin-top 2s linear 0s reverse both;
}

.calc {
    top: 135px;
    left: 60px;
    transform: scale(0.7) rotate(320deg);
}

.book {
    top: 5px;
    left: 40px;
    transform: rotate(345deg);
    animation-delay: 0.5s;
}

.paper {
    top: 5px;
    right: 40px;
    transform: rotate(15deg);
    animation-delay: 1.5s;
}

.pallete {
    top: 145px;
    right: 60px;
    transform: scale(0.7) rotate(35deg);
    animation-delay: 2s;
}

.pencil {
    top: 130px;
    transition: transform 0s ease;
    transform: rotate(90deg);
    animation-delay: 1s;
}

@keyframes margin-top {
    to {
        top: 1200px;
    }
}