nav {
    background-color:whitesmoke;
    display: block;
    width: auto;
    padding: 5px 20px;
}

#progressBar {
    background-color: rgb(243, 240, 234);
    border: 5px solid orange;
    margin: 5px;
    height: 70px;

    overflow: hidden;
}

#progress {
    background-color: orange;
    margin: 0px;
    height: 75px;
    width: 75px;
    animation: run 3s 0s linear infinite;

    overflow: hidden;
}

@keyframes run {
    from {
        margin-left: -75px;
    }
    to {
        margin-left: 100%;
    }
}
