body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 80%;
    margin: auto;
}

nav {
    background-color:whitesmoke;
    display: block;
    width: fit-content;
    padding: 5px 20px;
    margin: auto;
}

ol {
    color: white;
    background-color:rgb(239, 154, 174);
    width: 450px;
    padding: 10px;

    list-style-position: inside;
}

li {
    background-color: rgb(194, 90, 116);
    margin: 10px;
    padding: 5px 10px;
}

li span {
    background-color: rgb(150, 52, 77);
    margin: 10px;
    padding: 5px 15px;
}